.App{
    background: linear-gradient(180deg, #1CB5E0 0%, #000851 100%);
    height: 100vh;
}

.App body{
    display: flex;
    flex-direction: column;

}

.App div .detalle{
    width: 100%;
    margin: 0 30px;
    padding: 0 50px;
}

.App .detalle .lista{
    height: 50px;
    padding: 0 50px;
    color: white;
    text-align: center;
    font-size:  1.2rem;
    margin-top: 20px;

}

.App .card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273)!important;
    transition: all 0.5s linear;
}

.App .card-body{
    padding: 2rem 0 !important;
}

.App .card-text{
    height: 150px;
    padding: 0.3rem 1rem;
    font-size:1rem ;
}

.App .overflow{
    overflow: hidden;
}

.App .card-img-top{
    transition: all 0.3s ease-in-out;
}

.App .card-img-top:hover{
    transform: scale(1.8);
    transition: all 0.5s linear;
}

.App .badge{
    width: 150px;
}

.App .page-footer {
    height: 50px;
    background: #212529;
    color: antiquewhite;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-grow: 1;
}